@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #003087;
  --light-gray: #F5F7FA;
  --gray: #F0F0F0;
  --text-muted: #767676;
  --danger: #FF4545;
  --text-light-primary: #96B5EE;
  --dark-primary: #001B4C;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

.container-wrapper {
  width: 100%;
  max-width: 1420px;
  margin: 0 auto;
}

.bg-primary {
  background-color: var(--primary) !important;
}

.bg-light-gray {
  background-color: var(--light-gray) !important;
}

.bg-gray {
  background-color: var(--gray) !important;
}

.bg-dark-primary {
  background-color: var(--dark-primary) !important;
}

.bg-linear {
  background: linear-gradient(90deg, #003087 0%, #000C21 100%) !important;
}

.text-primary {
  color: var(--primary) !important;
}

.text-danger {
  color: var(--danger) !important;
}

.text-muted {
  color: var(--text-muted) !important;
}

.text-light-primary {
  color: var(--text-light-primary) !important;
}

.text-inter {
  font-family: "Inter", system-ui;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.line {
  position: relative;
}

.line::before {
  content: "";
  height: 100%;
  width: 1px;
  background-color: #fff;
  position: absolute;
  left: -2px;
}

.card-wrapper {
  display: inline-block;
  perspective: 1000px;
}

.card-wrapper .card {
  position: relative;
  cursor: pointer;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
  transform-style: preserve-3d;
}

.card-wrapper .card .front,
.card-wrapper .card .back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transform: rotateX(0deg);
}

.card-wrapper .card .front {
  z-index: 2;
}

.card-wrapper .card .back {
  transform: rotateY(180deg);
}

.card-wrapper:hover .card {
  transform: rotateY(180deg);
}

.card-wrapper.flip-left .card .back {
  transform: rotateY(-180deg);
}

.card-wrapper.flip-left:hover .card {
  transform: rotateY(-180deg);
}

.card-wrapper,
.card {
  width: 112px;
  height: 112px;
}

.card .front,
.card .back {
  display: flex;
  align-items: center;
  justify-content: center;
}
.animate {
  animation: move-forever 10s cubic-bezier(.55, .5, .45, .5) infinite;
}

@keyframes move-forever {
  0% {
    transform: translate3d(65%, 0, 0);
  }

  100% {
    transform: translate3d(-70%, 0, 0);
  }
}